#multimedia-section {
  background-color: #f7f6f6;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#options-wrapper {
  background-color: #861f41;
  height: 3.2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0.3em 0.6em;
  position: relative;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  h2 {
    font-family: gineso-condensed, sans-serif;
  }
}

#image-wrapper {
  height: 900px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.1em;
  background-color: white;
  overflow: hidden;
}

#x3d-element-id {
  position: relative;
  justify-items: center;
}

.drag-to-rotate-container {
  position: relative;
  bottom: 10em;
  left: 10em;
  align-items: center;
  z-index: 10;
}

.drag-to-rotate-icon {
  height: 100px;
  z-index: 10;
}

#thumbnail-wrapper {
  height: 8em;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #f7f6f6;
}

.thumbnail-overlay {
  position: relative;
  display: inline-block;
}

.thumbnail-button {
  position: relative;
  height: 90%;
  width: 5em;
  margin-right: 0.1em;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  outline: none;
}

.thumbnail-image {
  display: block;
  width: 5em;
  height: 90%;
}

.thumbnail-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.thumbnail-button:hover .thumbnail-text {
  opacity: 1;
}

#expand-icon,
#minimize-icon {
  color: white;
  height: 1.8em; /* Adjusted size to fit better inside #options-wrapper */
  width: auto;
  padding: 0.3em;
  margin-left: auto;
  margin-right: 2.5px;
  cursor: pointer;
  align-self: center; /* Ensures icon stays vertically aligned in flexbox */
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0 !important;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 120%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8em !important;
  pointer-events: none;
  white-space: nowrap;
  margin: 0;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.x3d-vis.primary {
  width: 100%;
  height: 100%;
}

.x3d-vis.hidden {
  display: none;
}

// @media (max-width: 1024px) {
//   #multimedia-section {
//     max-width: 100%;
//     height: 100%;
//   }

//   #image-wrapper {
//     width: 100%;
//     height: 85%;
//     padding: 0;
//   }

//   #thumbnail-wrapper {
//     height: 6em;
//   }

//   .drag-to-rotate-container {
//     // bottom: 10em;
//     // right: 15em;
//   }

//   .drag-to-rotate-icon {
//     height: 80px;
//   }
// }

@media (max-width: 600px) {
  #multimedia-section {
    height: 100%;
    max-width: 100%;
  }

  #thumbnail-wrapper {
    height: 5em;
  }

  .drag-to-rotate-container {
    bottom: 2em;
    right: 2em;
  }

  .drag-to-rotate-icon {
    height: 60px;
  }
}
