form section {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid black;
}
legend.admin {
  margin-bottom: 15px;
}
div.deleteWrapper {
  position: relative;
  display: block;
  margin-top: 10px;
}
button.deleteValue {
  margin-bottom: 20px;
  float: right;
  overflow: hidden;
}
a.addPage,
a.deletePage,
a.add,
a.delete,
span.required {
  float: right;
  overflow: hidden;
}
a.add {
  margin-top: 15px;
  padding: 5px;
  border: 1px solid lightgray;
}
div.clear {
  clear: both;
}

div.view-section p,
div.view-section ul li {
  font-size: 18px;
}
div.view-section ul li {
  margin-bottom: 10px;
}
div.view-section ul li span.entry {
  margin-right: 15px;
}
.key {
  font-weight: bold;
}
button.submit {
  font-size: 18px;
}
div.fileUploadField {
  margin-bottom: 10px;
}
div.currentStaticImgWrapper {
  width: 150px;
  height: 150px;
}
div.currentStaticImgWrapper img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}
form.displayedAttributesForm div.field.attributeField,
form.displayedAttributesForm div.field.attributeLabel {
  margin-right: 10px;
  display: inline-block;
  width: calc(50% - 80px);
}
form.displayedAttributesForm a.delete,
span.required {
  margin-top: 40px;
}

.validation_msg {
  color: red;
}

#explicit-checkbox,
#visibility-checkbox {
  margin: -3px 0 0 5px;
  vertical-align: middle;
}

.signout-wrapper {
  margin: 30px 25%;
  width: 50%;
}

.ui.form .field label {
  display: block;
  margin: 0 0 0.28571429rem 0;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}

.ui.input .ui.label {
  display: flex;
  align-items: center;
}

.ui.form section > fieldset {
  margin: 1rem;
  padding: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: #e0e1e2;
}

.ui.form section > fieldset > legend {
  font-family: "gineso-condensed", sans-serif;
}

.ui.form section > fieldset .file-status {
  padding: 1rem 0px;
}

.file-status > div > span {
  font-weight: 700;
}

.file-status .download-link {
  background-color: var(--light-gray);
  border: none;
  margin-left: 15px;
}

div.quill div.ql-tooltip.ql-editing input[type="text"] {
  width: auto;
}

.wrap-content {
  overflow-wrap: anywhere;
}

div.checkbox-inline {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  input {
    margin-top: 6px;
  }
}

#clear-values {
  text-align: right;
  color: var(--hokieMaroon);
  cursor: pointer;
}

.siteAdmin-return-link {
  display: inline-block;
  margin: 10px 0 15px 0;
}

select.form-control:not([size]):not([multiple]) {
  height: unset;
}

p.errorMsg {
  color: var(--hokieOrange);
  font-size: 1.1em;
}

.match-success {
  color: green;
}

a.back-link {
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: 20px;
}

a.back-link::before {
  content: "\2190";
}

a.back-link:hover {
  color: var(--hokieMaroonHover);
}

form.dir-select-form,
form.csv-select-form {
  margin-bottom: 20px;
}

input#dir-file-input,
input#csv-file-input {
  display: none;
}

div.dir-totals {
  margin-bottom: 20px;
}

#identifiers-files,
#empty-identifiers {
  .identifier-record {
    margin-bottom: 15px;
    .files-length {
      margin-left: 15px;
    }
  }
  .file-record {
    display: block;
    margin: 0 0 5px 40px;
  }
}
#empty-identifiers {
  .identifier-record {
    color: red;
    margin-bottom: 2px;
  }
}

#invalid-records > .invalid-record {
  display: block;
  color: red;
}

span.file-detail {
  margin-left: 20px;
  padding-left: 10px;
  border-left: 1px solid black;
}

h2.content-upload-prompt {
  font-size: 1.5rem;
}

.editor-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.editor-modal-wrapper .editor-wrapper {
  position: absolute;
  inset: 10%;
}

.quill {
  background-color: white;
  height: 100%;
}

.editor-wrapper .quill .ql-container {
  height: calc(100% - 6rem);
}

@media (min-width: 465px) {
  .editor-wrapper .quill .ql-container {
    height: calc(100% - 4.375rem);
  }
}

@media (min-width: 854px) {
  .editor-wrapper .quill .ql-container {
    height: calc(100% - 2.75rem);
  }
}

.editor-wrapper .ui.button {
  margin: 5px 0px 0px 0px;
  width: 10rem;
}
