@import './variables.scss';

// Global Base Styles
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Acherus", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", 
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

// Skip Link for Accessibility
.skipLink {
  color: var(--hokieMaroon) !important;
  font-family: Acherus, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.25rem;
}

a.skipLink:focus {
  outline-color: #75787b;
  outline-offset: 3px;
  outline-style: dashed;
  outline-width: 2px;
}

// Link Focus States
a:focus {
  outline: none;
}

a:focus-visible {
  color: var(--hokieMaroon);
  outline-color: var(--hokieMaroon);
  outline-offset: 3px;
  outline-style: dashed;
  outline-width: 2px;
}

// Loading Screen
.loading-screen {
  width: 100%;
  
  .loading-content {
    width: 250px;
    margin-left: calc(50% - (250px / 2));
    margin-top: calc(25% - (200px / 2));
    
    img {
      width: 100%;
    }
    
    p {
      font-family: "Acherus", sans-serif;
      font-size: 22px;
      text-align: center;
    }
  }
}

// Utility Classes
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.text-center {
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
