.not-found-page h1 {
  font-family: "gineso-condensed", sans-serif;
  font-size: 2.625rem;
  margin-bottom: 20px;
}

.not-found-page p {
  font-family: "Acherus", sans-serif;
}

.not-found-page a,
.not-found-page a:visited {
  color: var(--hokieOrange);
}
.not-found-page a:hover,
.not-found-page a:focus,
.not-found-page a:active {
  color: var(---hokieOrangeHover);
}
