.media-element-container {
  display: flex;
  flex-wrap: wrap;
}

.media-element-container div.audio-img-wrapper {
  max-width: 100%;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .media-element-container div.audio-img-wrapper {
    max-width: 33%;
    margin-bottom: 0;
  }
}

.media-element-container img.audio-img {
  max-width: 100%;
  margin: 0 auto;
}

.media-player-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}

.media-player {
  margin-top: 40px;
  width: 100%;
}

.media-buttons {
  margin-left: 20px;
  margin-top: 15px;
  text-align: right;
}

.transcript-button {
  border: none;
  background-color: var(--light-gray);
  padding: 0px;
}

div.feed-button-wrapper {
  margin-top: 20px;
  width: 100%;
  margin-left: -15px;
}

@media (min-width: 768px) {
  div.feed-button-wrapper {
    margin-left: 0px;
    text-align: right;
  }
}

.feed-button-wrapper button {
  background-color: white;
  border: solid 2px var(--dark-gray);
  border-radius: 4px;
  margin: 0 10px 10px 0;
  color: black;
  font-weight: 500;
}
