.home-sponsors-section {
  background-color: var(--sponsorsColor);
  padding-bottom: 10px;
}

.sponsors-solid {
  border: 0px;
  background-color: var(--sponsorsColor);
}

.sponsors-divider {
  background-color: #ffffff;
  border-top: solid 5px var(--sponsorsColor);
}

.home-sponsors-wrapper {
  justify-content: space-evenly;
}

.sponsor-wrapper {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-wrapper img {
  max-height: 80px;
}

@media (min-width: 992px) {
  .home-sponsors-section {
    padding-bottom: 20px;
  }

  .sponsor-wrapper {
    padding-top: 20px;
  }
}
