#mirador-vis.hidden {
  display: none;
}
#mirador_viewer {
  height: 600px;
  width: 100%;
  position: relative;
}

#mirador-vis {
  height: 100%;
  width: 100%;
}

.MuiToolbar-root {
  background-color: rgb(134, 31, 65) !important;
  color: white !important;
  border: none !important;
}

.MuiSvgIcon-root {
  color: white;
}

.mirador-canvas-nav {
  bottom: 17px !important;
  right: 5px !important;
  width: auto !important;
  height: auto !important;
  background-color: rgb(134, 31, 65) !important;
  a:hover,
  button:hover,
  button > *,
  button:hover > * {
    text-decoration: none;
  }
}

.mirador-canvas-nav div {
  flex-direction: column !important;
}

.mirador-osd-info {
  display: none !important;
}

.mirador-osd-navigation {
  display: none !important;
}

.mosaic-root {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
}

.mosaic-tile {
  margin: 0 !important;
}

#minerva-browser {
  position: relative;
  display: block;
  width: 100%;
  height: 1000px;
  .minerva-root .minerva-legend {
    display: none;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1px;
  right: 1px;
}

.controls button {
  padding: 10px 12px;
  background-color: var(--hokieMaroon);
  cursor: pointer;
  border: none;
  color: white;
  font-size: 18px;
  position: relative;
}

.tooltip-wrapper {
  position: relative;
  display: flex; /* Adjust to keep flexbox alignment */
  align-items: center; /* Centers icon inside wrapper */
  justify-content: center;
}

.viewer-tooltip {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 4px;
  padding: 2px 0;
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: 125%;
  margin-left: -10px;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 0.8em;
}

.viewer-tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-wrapper:hover .viewer-tooltip {
  visibility: visible;
  opacity: 1;
}

nav#vt_nav.hidden {
  display: none;
}

@media (min-width: 768px) {
  #mirador_viewer {
    height: 800px;
  }
}
